@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#deletebutton {
  /*CSS do Botão de Delete*/
  border: none;
  font-size: 1.5em;
  color: #ff3232;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

[hidden],
template {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: fontello;
  src: url(../fonts/fontello.eot?32283594);
  src: url(../fonts/fontello.eot?32283594#iefix) format("embedded-opentype"),
    url(../fonts/fontello.woff2?32283594) format("woff2"),
    url(../fonts/fontello.woff?32283594) format("woff"),
    url(../fonts/fontello.ttf?32283594) format("truetype"),
    url(../fonts/fontello.svg?32283594#fontello) format("svg");
  font-weight: 400;
  font-style: normal;
}

[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-open-1:before {
  content: "\e800";
}

.icon-info-circled:before {
  content: "\e801";
}

.icon-heart-empty:before {
  content: "\e802";
}

.icon-twitter:before {
  content: "\e803";
}

.icon-facebook:before {
  content: "\e804";
}

.icon-gplus:before {
  content: "\e805";
}

.icon-basket:before {
  content: "\e806";
}

.icon-down-open:before {
  content: "\e807";
}

.icon-down-circled2:before {
  content: "\e808";
}

.icon-location:before {
  content: "\e809";
}

.icon-phone:before {
  content: "\e80a";
}

.icon-link:before {
  content: "\e80b";
}

.icon-mail:before {
  content: "\e80c";
}

.icon-star:before {
  content: "\e80d";
}

.icon-clock-1:before {
  content: "\e80e";
}

.icon-left-open-big:before {
  content: "\e80f";
}

.icon-right-open-big:before {
  content: "\e810";
}

.icon-pinterest-circled:before {
  content: "\f0d2";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-instagram-1:before {
  content: "\f16d";
}

.icon-instagram:before {
  content: "\f32d";
}

.icon-search:before {
  content: "\f50d";
}

@font-face {
  font-family: montserratlight;
  src: url(../fonts/montserrat-light-webfont.woff2) format("woff2"),
    url(../fonts/montserrat-light-webfont.woff) format("woff"),
    url(../fonts/montserrat-light-webfont.ttf) format("truetype"),
    url(../fonts/montserrat-light-webfont.svg#montserratlight) format("svg");
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.icon-image {
  width: 20px;
  /* Largura desejada para o ícone */
  height: auto;
  /* Isso manterá a proporção da imagem */
  margin-left: 5px;
  /* Ajuste conforme necessário para o alinhamento horizontal */
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes a {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }

  to {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

.page-header__topline {
  height: 45px;
  background-color: #333;
}

.page-header__topline .currency {
  float: left;
  min-width: 120px;
}

.page-header__topline .currency__change {
  display: block;
  color: #777;
  font-size: 13px;
  line-height: 45px;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.page-header__topline .currency__change:hover {
  color: #5e5e5e;
}

.page-header__topline .login {
  float: right;
  min-width: 135px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  list-style: none;
  font-size: 0;
}

.page-header__topline .login__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

.page-header__topline .login__item:last-child {
  margin-right: 0;
}

.page-header__topline .login__link {
  display: block;
  font-size: 13px;
  color: #999;
  line-height: 45px;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.page-header__topline .login__link:hover {
  color: gray;
}

.page-header__topline .basket {
  float: right;
}

.page-header__bottomline {
  background-color: #11111f;
}

.page-header__bottomline .logo {
  float: left;
}

.page-header__bottomline .logo__link {
  margin-top: 38px;
  display: block;
}

.page-header__bottomline .main-nav {
  float: right;
}

.page-header__bottomline .main-nav .categories {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-header__bottomline .main-nav .categories__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 57px;
}

.page-header__bottomline .main-nav .categories__item:last-child {
  margin-right: 0;
}

.page-header__bottomline .main-nav .categories__item:hover > .dropdown {
  display: block;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation: a 0.2s;
  animation: a 0.2s;
}

.page-header__bottomline .main-nav .categories__link {
  position: relative;
  display: block;
  padding-top: 45px;
  padding-bottom: 53px;
  font-size: 13px;
  color: #ff7f32;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.page-header__bottomline .main-nav .categories__link:hover {
  color: #00c8c8;
}

.page-header__bottomline .main-nav .categories__link i {
  position: absolute;
  top: 63px;
  left: -5px;
  line-height: normal;
}

/* Testar eventualmente.
.page-header__bottomline .main-nav .categories__link--active {
  color: #00c8c8;
}
*/

.page-header .dropdown {
  position: absolute;
  display: none;
  left: 0;
  width: 467px;
  padding: 30px;
  padding-top: 10px;
  padding-left: 27px;
  background-color: #11111f;
  box-shadow: 0 17px 24px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.page-header .dropdown--lookbook {
  right: 0;
  left: auto;
}

.page-header .dropdown__half {
  float: left;
  width: 170px;
  margin-right: 68px;
}

.page-header .dropdown__half:last-child {
  margin-right: 0;
}

.page-header .dropdown__heading {
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #ff7f32;
  text-transform: uppercase;
}

.page-header .dropdown__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header .dropdown__item {
  margin-bottom: 12px;
}

.page-header .dropdown__link {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #ff7f32;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.page-header .dropdown__link:hover {
  color: #00c8c8;
}

.page-header .dropdown__banner {
  display: block;
  margin-top: 45px;
  padding: 56px 51px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333;
}

.page-header .dropdown__banner span {
  display: inline-block;
  margin-top: 7px;
  font-weight: 400;
}

.page-footer .footer-nav {
  padding: 60px 0 55px;
}

.line-footer {
  background-color: #ff7f32;
  height: 2px;
  width: 100%;
  margin: 0 auto;
}

.page-footer .footer-nav__col {
  float: left;
  width: 160px;
}

.page-footer .footer-nav__col--info,
.page-footer .footer-nav__col--whybuy {
  margin-right: 77px;
}

.page-footer .footer-nav__col--account {
  margin-right: 76px;
}

.page-footer .footer-nav__col--lookbook {
  margin-right: 78px;
  margin-right: 60px;
}

.page-footer .footer-nav__col--contacts {
  width: 240px;
}

.page-footer .footer-nav__col .address {
  margin-bottom: 23px;
  padding-top: 4px;
  color: #ff7f32;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
}

.page-footer .footer-nav__col .phone {
  margin-bottom: 14px;
  color: #ff7f32;
  font-size: 14px;
}

.page-footer .footer-nav__col .phone__number {
  color: #11111f;
  font-size: 14px;
  text-decoration: underline;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.page-footer .footer-nav__col .phone__number:hover {
  color: #ff7f32;
}

.page-footer .footer-nav__col .email {
  color: #ff7f32;
  font-size: 14px;
}

.page-footer .footer-nav__col .email__addr {
  color: #11111f;
  font-size: 14px;
  text-decoration: underline;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.page-footer .footer-nav__col .email__addr:hover {
  color: #ff7f32;
}

.page-footer .footer-nav__heading {
  margin-bottom: 23px;
  color: #ff7f32;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer .footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.page-footer .footer-nav__item {
  padding: 0;
}

.page-footer .footer-nav__link {
  color: #ff7f32;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.page-footer .footer-nav__link:hover {
  color: #00c8c8;
}

.page-footer .banners {
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.page-footer .banners .banner-award {
  float: left;
  width: 570px;
  height: 200px;
  padding-top: 55px;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
}

.page-footer .banners .banner-award span {
  font-weight: 700;
}

.page-footer .banners .banner-social {
  float: right;
  width: 570px;
  height: 200px;
  padding-top: 80px;
  font-size: 0;
  text-align: center;
  background-color: #00c8c8;
}

.page-footer .banners .banner-social__link {
  display: inline-block;
  margin-right: 36px;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.page-footer .banners .banner-social__link:last-child {
  margin-right: 0;
}

.page-footer .banners .banner-social__link:hover {
  color: #333;
}

.page-footer__subline {
  padding: 15px;
  font-size: 13px;
}

.page-footer__subline .copyright {
  float: left;
  width: 300px;
}

.page-footer__subline .designby {
  float: right;
  width: 220px;
}

.page-footer__subline .developer {
  float: right;
  width: 170px;
}

.brand {
  padding-top: 63px;
  padding-bottom: 120px;
}

.brand .block-left {
  float: left;
  width: 570px;
  margin-right: 30px;
}

.brand .block-right {
  float: right;
  width: 570px;
}

.brand__row {
  margin-bottom: 62px;
}

.brand__row:last-child {
  margin-bottom: 0;
}

.brand__col--buyer {
  margin-top: -162px;
  margin-bottom: 68px;
}

.brand__img {
  display: block;
}

.brand__img--offset {
  margin-bottom: 27px;
}

.brand__descr--designer {
  margin-top: 60px;
}

.brand__heading {
  margin: 0;
  margin-bottom: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #575153;
  text-transform: uppercase;
}

.brand__subheading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 13px;
  color: #727272;
  text-transform: uppercase;
}

.brand__text {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #8e8c8c;
}

.brand__link {
  color: #ff7f32;
  text-decoration: none;
}

.brand__link:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--basket {
  height: 45px;
  background-color: #414343;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn--basket:hover {
  background-color: #ff7f32;
}

.btn--basket .icon-basket {
  position: relative;
  top: 3px;
  font-size: 20px;
}

/*cover*/

.nero {
  padding-top: 160px;
  padding-bottom: 140px;
  font-family: "montserratlight", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #666 url("../images/BACKGROUNDBanner.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.nero__heading {
  font-size: 48px;
}

.nero__bold {
  font-weight: 700;
}

.nero__text {
  font-size: 30px;
}

.hero {
  padding-top: 300px;
  padding-bottom: 140px;
  color: #fff;
  background: #11111f url(../images/ADAPLAY\ -\ Com\ fundo.png) no-repeat;
  background-size: 93vw;
  background-position: 0%;
}

.hero .btn1 {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 14px;
  font-family: Roboto;
  /*border: 1.5px solid rgb(255, 255, 255);*/
  background-color: #ff7f32;
  position: relative;
  line-height: 40px;
  float: right;
  right: 210px;
  top: 80px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.hero .btn1:hover {
  background-color: #337ab7;
  color: white;
}

.wrapper {
  text-align: center;
  width: 40em;
  margin: 2.5em auto;
  padding: 1em;
  border-radius: 8px;
  border-top: 1px solid #eee;
}

.wrapper > :first-child {
  margin-top: 0;
}

.wrapper > :last-child {
  margin-bottom: 0;
}

.todo a {
  padding: 1em;
  border-radius: 4px;
  color: BLACK;
  font-family: montserratlight;
  font-weight: lighter;
  font-size: 0.9em;
  text-decoration: none;
}

.todo ul {
  margin: 0.4em 0;
  padding: 0 1em;
}

.todo li {
  display: inline;
  margin-right: 12px;
}

.todo a:hover {
  color: #009595;
}

.tac {
  text-align: center;
}

:root {
  --color-principal: #00c8c8;
  --color-secundaria: #11111f;
  --color-texto: #ff7f32;
}

/*Nav*/
header {
  font-family: Jost;
}

nav {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background: #f2f2f2;
}

.logozinha {
  max-height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  max-width: 130px;
  height: auto;
}

.logo {
  text-decoration: none;
  color: #ff7f32;
  font-weight: bold;
}

.logozinha a {
  text-decoration: none;
}

.logozinha a {
  color: #ff7f32;
}

.navmenuzin {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navmenuzin a {
  color: var(--color-texto);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
  text-decoration: none;
}

.navmenuzin a:hover {
  color: var(--color-principal);
}

.navmenuzin p {
  color: var(--color-texto);
  text-transform: capitalize;
  padding: 0px 20px;
  font-weight: bold;
  transition: all 0.42s ease;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  margin-right: 20px;
  color: var(--color-texto);
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42s ease;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: var(--color-principal);
}

#menu-icon {
  display: none;
  font-size: 35px;
  color: var(--color-texto);
  z-index: 10001;
  cursor: pointer;
}

/*Dropdown do Responsivo e do Usuário icone*/

#dropdownzinho ul {
  transform: translateY(2%);
  text-align: left;
  position: absolute;
  padding: 0;
  background: #f2f2f2;
  display: none;
  border-radius: 0 0 5% 5%;
  list-style: none;
}

#dropdownzinho:hover ul {
  display: block;
}

#dropdownzinho:hover i {
  transform: rotate(180deg);
}

#dropdownzinho ul li {
  padding: 5px 0px;
  width: 100%;
  position: relative;
}

#dropdownzinho i {
  transform: translateY(20%);
  transition: all 0.1s ease-in;
}

#dropdownzinho p {
  font-size: 15px;
}

.login {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-transform: uppercase;
}

/*Pesquisa*/

.Carrinho {
  display: flex;
}

.Carrinho i {
  margin-right: 0;
}

.Carrinho p {
  text-decoration: none;
  color: #f2f2f2;
  background: var(--color-texto);
  width: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 100%;
  display: flex;
  transform: translateX(-50%);
}

.Carrinho p:hover {
  text-decoration: none;
}

/* Responsividade-css */

@media (max-width: 1275px) {
  .logozinha span {
    display: none;
  }
}

@media (max-width: 890px) {
  nav {
    padding: 20px 3%;
    transition: 0.4s;
  }

  .Carrinho p {
    left: 94%;
  }
}

@media (max-width: 820px) {
  #menu-icon {
    display: flex;
    transition: 0.3s;
  }

  #dropdownzinho {
    /*Minha Conta*/
    display: block;
  }

  #dropdownzinho ul {
    position: relative;
    background: none;
  }

  #dropdownzinho ul p {
    display: none;
  }

  #dropdownzinho ul li {
    padding: 0px 10px;
    width: 100%;
    position: relative;
  }

  .navmenuzin {
    justify-content: normal;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #f2f2f2;
    display: none;
    flex-direction: column;
    align-items: first baseline;
    padding: 0px 30px;
    transition: all 0.42s;
    margin: 0;
  }

  .navmenuzin li {
    width: 100%;
  }

  .navmenuzin a {
    display: block;
    margin: 18px 0;
  }

  .navmenuzin.open {
    display: flex;
    right: 0;
  }

  .Carrinho p {
    left: 88%;
  }

  .logozinha span {
    display: inline;
  }
}

@media (max-width: 399px) {
  .logozinha span {
    display: none;
  }
}

#carrinhoVazio {
  display: none;
  text-align: center;
  margin-top: 13vh;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ccc; /* Borda para um visual mais minimalista */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrinhoVazio p {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

#continuarComprandoBtn {
  display: inline-block;
  font-size: 16px;
  background-color: #ff7f32;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

#continuarComprandoBtn i {
  margin-right: 8px;
}

#continuarComprandoBtn:hover {
  background-color: #00c8c8;
}
