/*Home Itens*/
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}



/*Banner Slider--------------------------------------------------------------------------------------------------------------*/
.carouselbanner {
  height: 70vh;
  width: 100vw;

}

.wrapperzin,
.slidezin {
  position: relative;
  width: 100%;
  height: 100%;
}

.slidezin {
  overflow: hidden;
}

.slidezin::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.slidezin .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.slidezin .image-data {
  position: absolute;

  top: 50%;
  transform: translate(10%, -50%);
  text-align: left;
  width: 100%;
  z-index: 100;
}

.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
  padding: 5px;
}

.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #f2f2f2;
}

a.button {
  display: inline-block;
  padding: 0.8em 1em;
  border-radius: 25px;
  color: #11111f;
  background: #f2f2f2;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: #fff;
  background-color: #ff7f32;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
  right: 3em;
}

.swiper-button-prev {
  left: 3em;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #e7e7e7;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #f2f2f2;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #f2f2f2;
  background-color: #ff7f32;
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }

  .swiper-pagination-bullet {
    visibility: visible;
  }
}


/*Logo Slider--------------------------------------------------------------------------------------------------------------*/

@keyframes slidess {
  from {
    transform: translateX(0);
  }

  to {
    transform: translate(-100%);
  }
}



.logosom {

  overflow: hidden;
  padding: 30px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}

.logosom:before,
.logosom:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logosom:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #11f1);
}

.logosom:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #11f1);
}

.logosom:hover .logosom-slide {
  animation-play-state: paused;
}



.logosom-slide {
  display: inline-block;
  animation: 35s slidess infinite linear;
  height: 50px;
}

.logosom-slide img {
  z-index: 3;
  height: 40px;
  object-fit: cover;
  background-size: cover;
  margin: 0 40px;
  filter: grayscale(100%);
  transition: 0.5s ease-in;
}

.logosom-slide img:hover {
  filter: grayscale(0%);
}

/*Graphic Banner------------------------------------------------------------------------------------------------------------------------------*/

.graphicbanner {
  overflow: hidden;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(180deg, rgba(235, 235, 235, 1) 0%, rgba(17, 17, 31, 1) 0.5%, rgba(17, 17, 31, 1) 10%);
}



.graphicbanner div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.graphicbanner .bannertext {
  color: #f2f2f2;
  text-align: justify;
}

.graphicbanner .bannertext h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #ff6000;
}


.graphicbanner .bannertext p {
  font-size: 1.6rem;
  max-width: 70%;
  text-wrap: wrap;
}


.graphicbanner button {
  padding: 1em 2.1em 1.1em;
  border-radius: 4px;
  margin: 8px;
  border: none;
  background-color: #ff6000;
  color: #000000;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0em -0.2rem 0em #ff7f32 inset;
  transition: color 3s ease-in-out;
}

.graphicbanner button:hover {
  background-color: #f2f2f2;
  transition: 0.3s ease-in;
}

.graphicbanner .imagem img {
  max-width: 100%;
  height: 50em;

}

@media (max-width: 1100px) {
  .graphicbanner {
    flex-direction: column-reverse;
    height: auto;
  }

  .graphicbanner div {
    width: 100%;
    height: 100%;
  }

  .graphicbanner .bannertext h1 {
    font-size: 3rem;
  }

  .graphicbanner .imagem img {
    height: 45em;

  }

}


@media (max-width: 678px) {
  .graphicbanner .bannertext h1 {
    font-size: 2rem;
  }

  .graphicbanner .imagem img {
    height: 38em;

  }

}

@media (max-width: 450px) {

  .graphicbanner .imagem img {
    height: 32em;

  }

}




/*Cards--------------------------------------------------------------------------------------------------------------*/


.simplecards {
  width: 100vw;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  background: #f2f2f2;
  overflow-x: hidden;
}

.conteudoscategoria {
  width: 100%;
  overflow-x: hidden;
}

.textosin {
  position: relative;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.textosin h1 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #ff6000;
}

.categorias {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.categorias .card {
  height: 12em;
  width: 24em;
  overflow: hidden;
  border-radius: 0% 0% 1% 1%;
  font-family: Jost;
  display: flex;
  border: solid 3px #fe843a;


}

.categorias .card:hover {
  transform: scale(.98) translateY(-1px);
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0px 10px 4px #11111f);
}



.categorias .card-img {
  object-fit: cover;
  display: flex;
  transform: translateX(50%) translateY(-97%);

}

.categorias .card-img:nth-child(3) {
  transform: translateX(100%);
}

.categorias .card-img img {
  width: auto;
  height: 16rem;
  display: flex;
  overflow: hidden;
}


.categorias .card-content {
  height: 100%;


}


.categorias .card-content h1 {
  padding-top: 8px;
  font-weight: bold;
  padding-left: 14px;
}

.categorias .card-content p {
  padding-left: 20px;
}

.categorias .card-content a {
  text-decoration: none;
  color: black;
  position: relative;


}

.categorias .card-content i {
  font-size: 50px;


}

.categorias .card-content i:hover {
  color: #dd4444;
  transition: 0.3s;
}


@media (max-width:1325px) {
  .categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: 0.3s;
  }


}


@media (max-width:750px) {
  .categorias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: 0.3s;
  }


}

/**Cards Com Efeitos 3D**/
:root {
  --card-height: 210px;
  --card-width: calc(var(--card-height) / 1.2);
}



.cards3dcontainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 0.23fr);
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

@media (max-width:1325px) {
  .cards3dcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: 0.3s;
  }


}

@media (max-width:750px) {
  .cards3dcontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transition: 0.3s;
  }


}

.card3d {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
  margin-top: 10em;
}


.card3d .cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.wrapper3d {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card3d:hover .wrapper3d {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper3d::before,
.wrapper3d::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper3d::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5)68%,
      rgba(12, 13, 19) 97%);
}

.wrapper3d::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19)97%);
}

.card3d:hover .wrapper3d::before,
.wrapper3d::after {
  opacity: 1;
}

.card3d:hover .wrapper3d::after {
  height: 120px;
}



.card3d .character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card3d:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}